.title .kitchen-title {
    text-align: center;
}
.p .kitchen-title {
    text-align: center;
}
.slickslide {
    height: 200px !important;
    width: auto;
    /* height:132px */
}

.content {
    object-fit: scale-down !important;
    margin: auto;
}
.cardHolder{
    position:absolute;
}
.cardContainer{
    position: relative;
}
@media only screen and (max-width: 800px) {
    
}
@media only screen and (max-width: 440px) {
   
}
@media only screen and (max-width: 340px) {
    
}
.slick-prev:before,
.slick-next:before {
    color: #E0C341!important;
}